@import url("../css/variables.css");

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
/* Font */

/* Animations */

@keyframes DropDownAnim {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes textAnim {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

html, body {
    margin: 0 auto;
    overflow-x: hidden;
    max-width: 1980px;
    background-color: var(--backgroundcolor2);
    font-family: var(--font);
    border-width: 0;
    border-style: inset;
}

header,
.HeaderText,
.Projects,
.Skills,
.InformationCardStatic,
.AboutMe,
.ContactInfo,
.Navigation,
footer,
.ProjectCardDropdown.show,
.Descrip,
.RainyDays,
.ScienceMuseum,
.ProjectCard,
.InformationCard,
.Phone,
.PortFolioNav,
.Socials {
    display: flex;
    overflow:hidden;
}

html,
body,
body a {
    text-decoration: none;
    color: var(--fontcolor);
}

body a:hover {
    text-decoration: underline;
    color: var(--hovercolor);
}

header {
    height: 100vh;
    min-height: 500px;
}

.Socials img {
    height: 50px;
    width: 50px;
    padding: 0px 10px 0px 10px;
    transition: transform .2s;
}

.Socials img:hover {
    transform: scale(1.2);
}

header,
footer {
    background-color: var(--headerfootercolor);
}

footer {
    align-items: center;
    height: 50px;
    padding-left: 20px;
}

header img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 100%;
}

/* Fonts / Text */

body h1 {
    font-size: var(--h1mobilefontsize);
    font-weight: var(--boldweight);
    animation: textAnim 1s ease 0s 1 normal forwards;
}

body h2 {
    animation: textAnim 2s ease 0s 1 normal forwards;
    font-size: var(--h2mobilefontsize);
}

body h2,
body h3 {
    font-weight: var(--semiboldweight);
}

body h3 {
    animation: textAnim 3s ease 0s 1 normal forwards;
    font-size: var(--h3mobilefontsize);
}

body p {
    animation: textAnim 4s ease 0s 1 normal forwards;
    font-size: var(--pmobilefontsize);
    font-weight: var(--regularweight);
}

.Navigation {
    justify-content: space-evenly;
}

.Projects,
.Skills,
.AboutMe,
.ContactInfo {
    padding-bottom: 20px;
    margin-bottom: 100px;
}

header,
.HeaderText,
.Projects,
.Skills,
.InformationCardStatic,
.AboutMe,
.ContactInfo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.InformationCardSkills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.ProjectCardDropdown {
    display: none;
}

.ProjectCardDropdown,
.ProjectCard,
.Skills,
.InformationCardStatic,
.AboutMe,
.ContactInfo {
    background-color: var(--headerfootercolor);
}

.ProjectCard:hover {
    cursor: pointer;
    background-color: var(--hovercolor);
}

.ProjectCardDropdown.show {
    justify-content: center;
    animation: DropDownAnim 1s ease 0s 1 normal forwards;
    padding-bottom: 20px;
    margin-top: -8px;
}

.Descrip {
    justify-content: center;
    width: 80%;
}

.ProjectCard,
.ProjectCardDropdown,
.InformationCardStatic,
.InformationCardSkills {
    justify-content: center;
    width: 90%;
    max-width: 500px;
    border-bottom: 2px solid var(--bordercolor);
    margin-top: 10px;
    margin-bottom: 10px;
}

.RainyDaysDropdown,
.ScienceMuseumDropdown,
.ProjectCardDropdown {
    flex-direction: column;
    align-items: center;
}

.RainyDaysDropdown img,
.ScienceMuseumDropdown img,
.ProjectCardDropdown img {
    margin: 20px;
    width: 90%;
    height: 200px;
    object-fit: cover;
    object-position: 0% 50%;
}

.RainyDays,
.ScienceMuseum,
.ProjectCard {
    align-items: center;
}

.PortfolioSticky {
    position: fixed;
    bottom: 0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.ProjectCardDropdown {
    border-radius: 20px;
}

.RainyDays svg,
.ScienceMuseum svg,
.ProjectCard svg {
    position: inherit;
}

.AboutMe img {
    margin: 20px;
    width: calc(10rem);
    object-fit: cover;
}

.InformationCard {
    justify-content: center;
    width: 90%;
    max-width: 500px;
    border-bottom: 2px solid var(--bordercolor);
}

.Phone {
    flex-direction: row;
    align-items: center;
}

.Phone button {
    background-color: transparent;
    border-style: none;
    border-radius: 20px;
    font-size: var(--h1mobilefontsize);
    padding: 5px 20px 5px 20px;
    margin-left: 20px;
}

.Phone button:hover {
    background-color: var(--hovercolor);
}

.confirmation {
    display: none;
}

.PortFolioNav {
    margin-top: auto;
    justify-content: center;
    width: 90%;
    max-width: 500px;
    border-bottom: 3px var(--bordercolor) solid;
    margin-bottom: 30px;
}