:root {
    /* Fonts */
    --font: "Figtree", sans-serif;

    /* Font Sizes */
    --h1mobilefontsize: calc(4vw);
    --h1desktopfontsize: 30px;

    --h2mobilefontsize: calc(3vw);
    --h2desktopfontsize: 23px;

    --h3mobilefontsize: calc(3vw);
    --h3desktopfontsize: 20px;

    --pmobilefontsize: calc(3vw);
    --pdesktopfontsize: 20px;

    /* Font Weights */

    --lightweight: 300;
    --regularweight: 400;
    --mediumweight: 500;
    --semibold: 600;
    --boldweight: 700;
    --extraboldweight: 800;


    /* Colors Dark */
    --headerfootercolor: #1C1C1B;
    --backgroundcolor2: #252524;
    --backgroundcolor3: #2F2F2E;
    --fontcolor: #E3E3E1;
    --bordercolor: #3E3E3C;
    --hovercolor: #8C7E63;

    /* Colors Light */
    --lightheaderfootercolor: #E6E5E2;
    --lightbackgroundcolor2: #F2F1EF;
    --lightbackgroundcolor3: #EAE9E6;
    --lightfontcolor: #1F1F1D;
    --lightbordercolor: #B0AFAC;
    --lighthovercolor: #A68D6A;

    /* Spacings and Borders*/
}